body{
    background-color: lightgray !important;
}
.page-content {
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-family: 'Pacifico', cursive !important;
    background-color: #04bf8c;
    color: white;
    font-size: 50px;
    padding: 20px !important;
}
.answer-button {
    display: block;
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
#timer, #question {
    height: 50px;
}
#photo {
    margin-bottom:25px;
}
#start {
    display: block;
    width: 50px;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    background-color: #04bf8c;
    color: white;
}
#footer {
    background-color: #333433;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: darkgray;
    text-align: center; 
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card {
    margin-top:25px !important;
    margin-bottom: 25px !important;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
.card-content {
    height: 600px !important;
    padding: 25px;
}